@import "~@/scss/vars.scss";

.content-cart {
  &__creating-cart {
    display: flex;
    flex-direction: column;
    width: calc(1136px / 4);
    max-width: 284px;
    height: fit-content;
    padding: 24px;
    background: $cartBackground;
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.04), 0px 6px 10px rgba(0, 0, 0, 0.02);
    border-radius: $mainBorderRadius;

    .creating-cart__label {
      font-family: SourceSansPro;
      font-size: 10px;
      letter-spacing: -0.02em;
      line-height: 12.57px;
      color: $creatingCartLabel;
      margin-bottom: 4px;

      &:not(:nth-child(3)):after { // We choose 3 because the inputs also count
        content: url('@/assets/img/round.svg');
        vertical-align: super;
      }
    }

    .creating-cart__input {
      margin-bottom: 16px;
      padding: 10px 16px;
      background: $cartBackground;
      box-shadow: $mainShadow;
      border-radius: $mainBorderRadius;
      font-family: SourceSansPro;
      font-size: 12px;
      line-height: 15.08px;
      color: $mainText;

      &:nth-child(8) { // We choose 8 because the labels also count
        margin-bottom: 24px;
      }

      &::-ms-input-placeholder {
        color: $defaultText;
      }

      &::-webkit-input-placeholder {
        color: $defaultText;
      }
    }

    .creating-cart__btn {
      font-family: Inter;
      font-size: 12px;
      letter-spacing: -0.02em;
      line-height: 14.52px;
      padding: 10px 0 10px 0;
      border-radius: 10px;
    }
  }
}