/*
  Colors
*/

//Backgrounds
$mainBackground: #E5E5E5; //Color for body background
$cartBackground: #FFFEFB; //Basic color for filling the UI

//Text colors
$mainText: #3F3F3F; //Color for body text and headings
$defaultText: #B4B4B4; //Basic color for non active text
$creatingCartLabel: #49485E; //Color for creating cart label
//UI colors
$attention: #FF8484; //Color for wrong or attention
/*
  Shadows
*/
$mainShadow: 0px 2px 5px rgba(0, 0, 0, 0.1); //Shadow for all UI

/*
  UI var templates
*/
$mainBorderRadius: 4px; //Border Radius for all UI (There are some exceptions)