@use 'normalize';
@use 'fonts';
@use 'vars';

@import "~@/scss/vars.scss";

//ACTUAL STYLES
body {
  background: vars.$mainBackground;
}
.container {
  max-width: 1376px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 32px;
  gap: 16px;
}

.header-cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__h1 {
    font-family: SourceSansProMedium;
    font-size: 28px;
    line-height: 35.2px;
    color: vars.$mainText;
  }
}

.content-cart {
  display: flex;
  gap: 16px;
}

//Show delete button
.items-wrapper__content-item:hover .content-item__delete-btn {
  display: flex;
}

//Button status
.non-active {
  color: vars.$defaultText;
  background: #EEEEEE;
}
